.subscribe{
    margin: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    button{

    }
    form{
        h1{

        }
        .typing-container{
            .typing-text{

            }
        }
        input{

        }
        .btn{

        }
    }
}